<div layout="column">
    <md-checkbox ng-model="instanceObj.config.showZoombar" aria-label="Show Zoombar">Show Zoombar</md-checkbox>
    <md-checkbox ng-model="instanceObj.config.showLayerSwitcher" aria-label="Show Zoombar">Show Layer Switcher</md-checkbox>
    <md-checkbox ng-model="instanceObj.config.showLegend" aria-label="Show Legend">Show Legend</md-checkbox>
    <md-checkbox ng-model="instanceObj.config.showPrint" aria-label="Show Print">Show Print</md-checkbox>
    <md-checkbox ng-model="instanceObj.config.showHome" aria-label="Show Print">Show Initial Extent Button</md-checkbox>
</div>